<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark ">

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a routerLink="/" class="nav-link waves-light" mdbWavesEffect ><i class="fa fa-home" aria-hidden="true"></i>Αρχική<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="/about" class="nav-link waves-light" mdbWavesEffect>Η εταιρεία μας</a>
            </li>
            <li class="nav-item">
                <a  routerLink="/products" class="nav-link waves-light" mdbWavesEffect>Τα προϊόντα μας</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                κατι αλλο<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                </div>
            </li>

        </ul>
        <!-- Links -->

<!-- Search form -->
<ul class="navbar-nav justify-content-end ">
    <li class="nav-item">
        <a routerLink="/contact" class="nav-link" href="#!"><i class="fa fa-phone"></i>Επικοινωνία</a>
    </li>

</ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
