<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark ">
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.jpg" height="120" class="d-inline-block align-top" alt="">

        </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a routerLink="/" class="nav-link waves-light" mdbWavesEffect ><i class="fa fa-home" aria-hidden="true"></i>Αρχική<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a routerLink="/about" class="nav-link waves-light" mdbWavesEffect>Η εταιρεία μας</a>
            </li>
            <li class="nav-item">
                <a  routerLink="/products" class="nav-link waves-light" mdbWavesEffect>Τα προϊόντα μας</a>
            </li>


        </ul>
        <!-- Links -->

<!-- Search form -->
<ul class="navbar-nav justify-content-end ">
    <li class="nav-item">
        <a routerLink="/contact" class="nav-link" href="#!"><i class="fa fa-phone"></i>Επικοινωνία</a>
    </li>

</ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
