
<div class="p-5 my-4 ">
    <div class="row ">
        <div class="col-md-12">
            <h1 class="display-5">Τα προϊόντα μας</h1>
            <p class="">
                Τα κοτόπουλα ΓΑΛΑΝΟΣ διαφέρουν από τα υπόλοιπα κοτόπουλα γιατί όχι μόνο εκτρέφονται κάτω από τις ιδανικές
                συνθήκες αλλά και γιατί έχει δοθεί ιδιαίτερη έμφαση στη διατροφή τους. Διατρέφονται αποκλειστικά με φυτικές τροφές,
                ενώ η τροφή, στο σύγχρονο μύλο που διαθέτει η επιχείρηση, αποστειρώνεται και πελλετοποιείται πριν δοθεί για κατανάλωση στα ορνίθια.
                Επίσης η εταιρία  μας παράγει και μια γκάμα με 26 κρεατοσκευάσματα, μερικά εκ των οποίων είναι,
                (τηγανιές, εξοχικά, μπιφτέκι κοτόπουλο, σουτζουκάκια, μεξικάνικο  κατσαρόλας, Gordon bleu, nuggets, παιδάκι κότας, πίτσα κοτόπουλα, κ.α.
            </p>
        </div>


      </div>






    <div class="row">


      <div class="col-md my-3">
          <img class="rounded w-100" src="assets/images/carousel/1.jpg" alt="First slide">
      </div>

      <div class="col-md my-3">
          <img class="rounded w-100" src="assets/images/carousel/2.jpg" alt="Second slide">
      </div>



    </div>

    <div class="row">



        <div class="col-md my-3">
            <img class="rounded w-100" src="assets/images/carousel/1.jpg" alt="First slide">
        </div>

        <div class="col-md my-3">
            <img class="rounded w-100" src="assets/images/carousel/2.jpg" alt="Second slide">
        </div>

      </div>
      <div class="row">



          <div class="col-md my-3">
              <img class="rounded w-100" src="assets/images/carousel/1.jpg" alt="First slide">
          </div>

          <div class="col-md my-3">
              <img class="rounded w-100" src="assets/images/carousel/2.jpg" alt="Second slide">
          </div>

        </div>


      </div>
