<div class="container">
    <div class="row">


      <div class="col-3">
      </div>

      <div class="col-6">


        <mdb-carousel [interval]="myInterval" [isControls]="true" [animation]="'slide'">
          <!--First slide-->
          <mdb-carousel-item>
            <img class="d-block w-100" src="assets/images/carousel/1.jpg" alt="First slide">
          </mdb-carousel-item>
          <!--/First slide-->
          <!--Second slide-->
          <mdb-carousel-item>
            <img class="d-block w-100" src="assets/images/carousel/2.jpg" alt="Second slide">
          </mdb-carousel-item>
          <!--/Second slide-->
          <!--Third slide-->
          <mdb-carousel-item>
            <img class="d-block w-100" src="assets/images/carousel/3.jpg" alt="Third slide">
          </mdb-carousel-item>
          <!--/Third slide-->
        </mdb-carousel>
        <!--/.Carousel Wrapper-->
      </div>

      <div class="col-3">
      </div>

    </div>

  </div>
