
  <div class="row my-4">
    <div class="col-md-7 ml-4 my-4">
      <h1 class="display-5">Κοτόπουλα Γαλανός ΑΕ</h1>
      <p class="">
        Η εταιρία Γαλανός Α.Ε. ιδρύθηκε πριν από 52 περίπου χρόνια στην περιοχή
        της Έδεσσας του Ν. Πέλλας και αποτελεί μία από τις μεγαλύτερες
        πτηνοτροφικές επιχειρήσεις στη Β. Ελλάδα και απασχολεί περί των 30 ατόμων.
      </p>
      <p class="">
          Δίνοντας ιδιαίτερη έμφαση στην δημιουργία των ιδανικών συνθηκών εκτροφής και στην κάθετη επιλογή μας να
      εκτρέφουμε τα κοτόπουλα αποκλειστικά με φυτικές τροφές και μάλιστα αφού έχουν περάσει μετά από την διαδικασία αποστείρωσης
      μέσο των σύγχρονων μηχανών που διαθέτουμε , παρέχουμε στην αγορά μια πλήρη γκάμα από ποιοτικά κρεατοσκευάσματα κοτόπουλου.
        </p>

    </div>
    <div class="col-md-4 my-4">
      <img src="assets/images/galanos6.jpg" height="200" class="" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 ml-4">
      <h1 class="display-5">Κοτόπουλο Φυτοάρωμα</h1>
      <p class="">
        Το Κοτόπουλο Φυτοάρωμα προέκυψε μετά από μακροπρόθεσμες ερευνητικές προσπάθειες για τη βελτίωση
        της ποιότητας των προϊόντων μας και τη συνεργασία με την ομάδα Κτηνιατρικής και Ερευνητικής
        Επιτροπής του Αριστοτελείου Πανεπιστημίου Θεσσαλονίκης,
        η οποία οδήγησε σε ένα συνδυασμό φυτικών και αρωματικών φυτών, που ήταν παγκόσμια πρωτοτυπία.
      </p>

      <h1 class="display-5">Η διατροφική του αξία</h1>
      <p class="">

        Το κοτόπουλο «φυτοάρωμα» έχει όλα τα θρεπτικά συστατικά του συνηθισμένου κοτόπουλου (πρωτεΐνες, βιταμίνες
        κτλ.),
        αλλά επιπλέον, περισσότερα ω-3 λιπαρά οξέα (ωφέλιμα για την υγεία του ανθρώπου) και διακριτική γεύση που το
        κάνει ευχάριστο στον καταναλωτή.
        Τέλος, έχει λιγότερο λίπος ικανοποιώντας τις σύγχρονες διαιτητικές απαιτήσεις.

        Επίσης έχουμε λάβει μέρος σε διεθνή έκθεση στο Ντουμπάϊ της Αραβίας και έχουμε λάβει πολλά θετικά σχόλια και
        πλήθος προτάσεων για συνεργασία.
        Το οποίο και εξετάζουμε πως θα γίνει λόγω της ιδιαιτερότητα που έχει το νωπό κοτόπουλο. Αυτό που διαπιστώσαμε
        ήταν πως δείχνουν εμπιστοσύνη
        στα Ελληνικά προϊόντα μας.
      </p>

    </div>
    <div class="col-md-4 ">
      <img src="assets/images/galanos5.jpg" height="500" class="" alt="">
    </div>


  </div>

  <div class="row">
    <div class="col-md-8 m-4">

    </div>


  </div>





