<div class="row">
  <div class="col-md-4 px-4">
      <mdb-card cascade="true" wider="true" reverse="true" class="my-4">

          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/images/galanos.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <mdb-card-body cascade="true" class="text-center">

            <mdb-card-title>
              <h4>
                <strong>Κοτόπουλο Φυτοάρωμα</strong>
              </h4>
            </mdb-card-title>

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            </mdb-card-text>
          </mdb-card-body>

        </mdb-card>
  </div>
  <div class="col-md-4 px-4">
      <mdb-card cascade="true" wider="true" reverse="true" class="my-4">

          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/images/galanos6.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <mdb-card-body cascade="true" class="text-center">

            <mdb-card-title>
              <h4>
                <strong>Η ιστορία μας</strong>
              </h4>
            </mdb-card-title>

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            </mdb-card-text>
          </mdb-card-body>

        </mdb-card>
  </div>
  <div class="col-md-4 px-4">
      <mdb-card cascade="true" wider="true" reverse="true" class="my-4">

          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/images/galanos10.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <mdb-card-body cascade="true" class="text-center">

            <mdb-card-title>
              <h4>
                <strong>Οι Εγκαταστάσεις μας</strong>
              </h4>
            </mdb-card-title>

            <mdb-card-text>
              Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            </mdb-card-text>
          </mdb-card-body>

        </mdb-card>
  </div>
</div>
<div class="row">
  <div class="col-12 px-4 py-2">

  </div>
</div>
