<div class="p-5 ">
    <p class="h1">ΕΤΑΙΡΙΚΟ ΠΡΟΦΙΛ</p>
  <p>
      Η εταιρεία Γαλανός Α.Ε ιδρύθηκε το 1963 στην περιοχή της Έδεσσας του Ν. Πέλλας,
      το μεράκι και οι προσπάθειες μας για παραγωγή ποιοτικών προϊόντων σύντομα μας έκανε μια
      από τις μεγαλύτερες πτηνοτροφικές επιχειρήσεις της βορείου Ελλάδας.
  </p>

  <p>
      Η εμπειρία των δεκαετιών οι συνεχείς αναβαθμίσεις εγκαταστάσεων σε συνδυασμό με τις ηθικές αρχές όσο αναφορά τις
      επαγγελματικές μας συνεργασίες , ήταν οι βάσεις για την δημιουργία ενός μεγάλου δικτύου συνεργατών εντός και εκτός Ελλάδας
  </p>
  <p>
      Δίνοντας ιδιαίτερη έμφαση στην δημιουργία των ιδανικών συνθηκών εκτροφής και στην κάθετη επιλογή μας να εκτρέφουμε
      τα κοτόπουλα αποκλειστικά με φυτικές τροφές και μάλιστα αφού έχουν περάσει μετά από την διαδικασία αποστείρωσης μέσο των σύγχρονων
      μηχανών που διαθέτουμε , παρέχουμε στην αγορά μια πλήρη γκάμα από ποιοτικά κρεατοσκευάσματα κοτόπουλου
  </p>
  <p>
      Ιδιαίτερη θέση στην γκάμα των προϊόντων μας έχει το καινοτόμο σκεύασμα με την επωνυμία ΚΟΤΟΠΟΥΛΟ ΦΥΤΟΑΡΩΜΑ
      το οποίο έχει βραβευθεί με δίπλωμα ευρεσιτεχνίας . Το ΚΟΤΟΠΟΥΛΟ ΦΥΤΟΑΡΩΜΑ προέκυψε μετά από μακροχρόνιες ερευνητικές αναζητήσεις
      μας για την αναβάθμιση της ποιότητας των προϊόντων μας . Καταλυτική ήταν η συνεργασία μας με ερευνητική ομάδα του τμήματος κτηνιατρικής
      και της επιτροπής ερευνών του Αριστοτέλειου Πανεπιστημίου Θεσσαλονίκης η οποία είχε σαν αποτέλεσμα την δημιουργία μείγματος τροφής από
      φυτικά παράγωγα σε συνδυασμό με προσμίξεις αρωματικών φυτών που αποτελεί παγκόσμια πρωτοτυπία
  </p>
  <p>
      Με συνεχείς βελτιώσεις στην ποιότητα τις εγκαταστάσεις μας και στον τομέα της συσκευασίας είμαστε σίγουροι ότι
      θέτουμε τις προϋποθέσεις για νέες συνεργασίες στην Γερμανική αγορά
  </p>
  <p>
      Ο ΣΕΒΑΣΜΟΣ ΠΡΟΣ ΤΟΥΣ ΣΥΝΕΡΓΑΤΕΣ ΜΑΣ ΚΑΙ Η ΕΡΕΥΝΑ ΓΙΑ ΠΟΙΟΤΙΚΟΤΕΡΑ ΠΡΟΪΟΝΤΑ ΕΙΝΑΙ ΤΟ ΜΥΣΤΙΚΟ ΤΗΣ ΕΠΙΤΥΧΙΑΣ ΜΑΣ
  </p>

</div>
